@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    z-index: 2;
}

 body{
    background-image: url('./backgroundghijaumudah.png');
    background-repeat: no-repeat;
    height: 3180px;
} 
/* NAVBAR STYLE*/
.navbar{
    z-index: 3;
    background-color: #59C1BD;
}

.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}



.btn-signup{
    background-color: #59C1BD;
    border: 1px solid #59C1BD;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* NAVBAR STYLE*/
#hero{
    background-color: #59C1BD;
    height: 100vh;
    width: 100%;
}

.heroin{
    width: 900px;
}

.img-hero{
    height: 57%;
    z-index: 1;
}
.hero-tagline h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
    line-height: 70px;
}

#deskripsi{
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

.deskripsi-tagline h2{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}


.deskripsi-tagline h3{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
}

.img-deskripsi{
    height: 55%;
    z-index: 1;
}

.visi-misi{
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

.visi-misi-tagline h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
}

.visi-misi-tagline h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
}

.card{
    width: 305.82px;
    height: 350px;
}

.card1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}